/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2024, 7:25:35 PM
    Author     : Anh Tu
*/
.widget{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.title-container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.checkbox-row{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.input-row{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.all-product {
    text-align: left;
  
}

.all-product h2 {
    text-align: left;
}

.all-product img {
    max-width: 100%; /* Giới hạn chiều rộng tối đa của ảnh */
    max-height: 100%; /* Giới hạn chiều cao tối đa của ảnh */
    height: 143px; /* Đảm bảo chiều cao tự động điều chỉnh theo tỷ lệ của chiều rộng */
    object-fit: contain; /* Đảm bảo ảnh phù hợp với kích thước mà không làm mất tỷ lệ và không cắt bỏ phần nào của ảnh */
    box-sizing: border-box;
    transition: all 0.3s ease;
   
}
.all-product img:hover {
    transform: scale(1.1);
    /* Scale the image to 1.1 times its original size */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.all-product .card {
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    height:390px;
    width: 240px;
    

}

.all-product a:hover {
    color: #000;
}

.all-product .img-container {
    padding:12%;
    display: flex;
    justify-content: center;
}

.all-product .product-price {
    color: #fcb941;
}

.card-container {
    display: flex;
    justify-content: center; /* Căn giữa các phần tử ngang */
    flex-wrap: wrap; /* Đảm bảo các card sẽ quấn sang dòng tiếp theo nếu cần */
    gap: 20px; /* Khoảng cách giữa các card, tùy chỉnh theo ý muốn */
    

}

.add-view-container{
    display: flex;
    flex-direction: row;
    max-width: 240px;
}
.all-product .description {
   padding: 0px 10px;
   justify-content: space-between;
}
.add-to-cart, .view-detail {
    padding: 0px;
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: none; /* Loại bỏ viền dưới */
    width: 50%;
    line-height:37px;
    text-align: center;
}

.add-to-cart:hover , .view-detail:hover {
    background-color: #fcb941;
    color: #fff;
    border: 1px solid #fcb941;
}

.selling-nav-container .view-all{
   text-align: right;
}
